<h1>Forgot your password</h1>

<%= form_with url: password_reset_path do |form| %>
  <div>
  <%= form.label :email_address %>
  <%= form.text_field :email_address %>
  </div>

  <div>
  <%= form.submit "Reset Password" %>
  </div>
  <% end %>
