<h1>Adnat</h1>
<tr>
<td><% @user = User.find(session[:user_id]) %></td>
<td><%= "Logged in as #{@user.name} "%></td>
<td><%= link_to 'Logout', logout_path  %></td>
</tr>

<h3>New Shift</h3>

<%= render 'form', shift: @shift %>

<%= link_to 'Back',  url_for(:back) %>
